
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class='container-fluid'>
    <div class='row '>
        <div class='col-12 banner-about d-flex justify-content-center align-items-center'>
            <h2 class='text-dark fw-bolder '>About Us</h2>

        </div>
    </div>


    <div class='row m-5'>
        <div class=' col-lg-6 col-12 mx-auto '>
            <h1 class='pb-lg-5 pb-md-3'>
                <strong class='text'>
                    We Are Here To Dream! Our Team
                    Is Here Serve You.
                </strong>
            </h1>
            <p>

                Contrary to popular belief, Lorem Ipsum’s not simply random text. It has roots in a piece of
                classical Latin literature from 45 BC, making it over 2000 years old. Richard Clintock, a Latin
                professor at Hampden-Sydney College in Virginia, looked up one of the more Latin words.
            </p>
            <p>
                Contrary to popular belief, Lorem Ipsum’s not simply random text. It has roots in a piece of
                classical Latin literature from 45 BC, making it over 2000 years old. Richard Clintock, a Latin
                professor at Hampden-Sydney College in Virginia, looked up one of the more Latin words.
            </p>
        </div>
        <div class=' col-lg-6 col-12  d-flex justify-content-end'>
            <img src="~/img/download.png" class="img-fluid" />
        </div>

    </div>
    <div class='row choose-me p-5'>
        <h2 class="text-center line">
            <strong>
                Why Choose Us?
            </strong>
        </h2>

        <div class='col-6 col-md-3  '>
            <i class="d-flex justify-content-center choose-icons fa-solid fa-arrows-down-to-people"></i>
            <h5>
                A Dedicated Smart-Dashboard
            </h5>
            <p>Manage donors, donations, send ‘thank you’ notes to well-wishers much more</p>
        </div>
        <div class='col-6 col-md-3'>
            <i class="d-flex justify-content-center choose-icons fa-solid fa-arrows-down-to-people"></i>
            <h5>
                Withdraw Funds Instantly
            </h5>
            <p>Transfer donations instantly to your bank account, with just one click</p>
        </div>
        <div class='col-6 col-md-3'>
            <i class="d-flex justify-content-center choose-icons fa-solid fa-arrows-down-to-people"></i>
            <h5>
                Intuitive User Experience
            </h5>
            <p>Transfer donations instantly to your bank account, with just one click</p>
        </div>
        <div class='col-6 col-md-3'>
            <i class="d-flex justify-content-center choose-icons fa-solid fa-money-bill-1-wave"></i>
            <h5>
                International Payment Support
            </h5>
            <p>Donors can use use payment modes such as PayTM, Tez, UPI, Debit Card, Credit,...</p>
        </div>

    </div>
    <div class='row m-5'>
        <div class='col-12 col-lg-6 mx-auto'>
            <img src="~/img/toymall-malappuram-1cztwd8us3.webp" class='img-fluid mb-5' />
        </div>
        <div class='col-12 col-lg-6'>
            <h1> <strong>Learn About Our Birth History & Our Mission </strong> </h1>
            <p>
                Contrary to popular belief, Lorem Ipsum’s not simply random text. It has roots in piece classical
                Latin literature from 45 BC, making it over 2000 years old. Richard Clintock, arm Latin professor
                Hampden Sydney College in Virginia, looked up one of the more Latin words, consectetur, from a Lorem
                Ipsum passage, and going through the cites of the word in classical literature.
                Contrary to popular belief, Lorem Ipsum’s not simply random text. It has roots in piece classical
                Latin literature. Richard Clintock, arm Latin professor Hampden Sydney.
            </p>
            <h5><strong>Our Birth</strong></h5>
            <p>
                Contrary to popular belief, Lorem Ipsum’s not simply random text. It has roots in a piece of
                classical Latin literature from BC, making it over 2000 years old Richard Clintock,Latin professor
                at Hampden Sydney College in Virginia, looked up one of the more Latin words, consectetur, from a
                Lorem Ipsum passage and going through the cites of the word in classical.
            </p>
            <h5><strong>Our Misson</strong></h5>
            <p>
                Contrary to popular belief, Lorem Ipsum’s not simply random text. It has roots in a piece of
                classical Latin literature from BC, making it over 2000 years old Richard Clintock,Latin professor
                at Hampden Sydney College in Virginia, looked up one of the more Latin words, consectetur, from a
                Lorem Ipsum passage and going through the cites of the word in classical.
            </p>
        </div>
    </div>

</div>
