@{ 
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class='container-fluid'>
    <div class='row  mb-5'>
        <div class='col-12 banner-about d-flex justify-content-center align-items-center'>
            <h2 class='text-dark fw-bolder'>Contact Us</h2>
        </div>
    </div>
    <div class='col-10 col-md-4 col-lg-4  pb-5 text-white order-0 mx-auto d-flex justify-content-center'>

    </div>
    <div class='row p-md-5 d-flex justify-content-evenly text-center mx-auto'>
        <h2 class='text-center'>
            <strong>Call Us Or Visit</strong>
        </h2>
        <p class='d-flex justify-content-center pb-md-3 mx-auto'>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit
        </p>
        <div class='col-12 col-md-2'>
            <h5>
                <strong>Address</strong>
            </h5>
            <p>
                Mumtazabad Market,
                A Block,
                Multan Pakistan
            </p>

        </div>
        <div class='col-12 col-md-2'>
            <h5>
                <strong>Email</strong>
            </h5>
            <p>
                ToyBlast11@gmail.com
                helooMr3@gmail.com
            </p>

        </div>
        <div class='col-12 col-md-2'>
            <h5>
                <strong>Phone</strong>
            </h5>
            <p>
                (+92) 812-308-3670 <br>
                (+92) 908-767-8437
            </p>

        </div>
        <div class='col-12 col-md-2'>
            <h5>
                <strong>Opening Time</strong>
            </h5>
            <p>
                Monday – Saturday: 8am – 4pm
                Sunday: 9am – 5pm
            </p>

        </div>
    </div>
    <div class='row p-md-5'>
        <div class='col-12 col-md-6 '>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3449.212000495047!2d71.48527551511806!3d30.17393748183545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x393b36c82141e819%3A0xae55c64fbec4ac7!2sMumtazabad%20Market%20Rd%2C%20Mumtazabad%20Colony%2C%20Multan%2C%20Punjab!5e0!3m2!1sen!2s!4v1646462507946!5m2!1sen!2s"
                    width="100%" height="550" style="border: 0px" allowfullscreen="" class='map'
                    loading="lazy"></iframe>

        </div>
        <div class='col-12 col-md-6 message-form p-2 p-md-5'>
            <h1>
                <strong>Send Us A Message</strong>
            </h1>

            <form class="row g-3 ">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Your Name</label>
                    <input type="textr" class="form-control contact-input" id="inputEmail4" autocomplete="off" />
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Your Email</label>
                    <input type="email" class="form-control contact-input" id="inputPassword4" autocomplete="off" />
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control contact-input" id="inputAddress"
                           placeholder="1234 Main St" autocomplete="off" />
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea autocomplete="off" class="form-control contact-input" id="exampleFormControlTextarea1"
                              rows="3"></textarea>
                </div>


                <div class="col-12">
                    <button type="submit" class="btn btn-success message-btn">Send Messeage</button>
                </div>
            </form>

        </div>

    </div>

</div>