
<div class="container-fluid">
    <div class="row ">
        <div class="col-12" style="padding: 0px;">
            <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="1500">
                        <img src="img/carasol 3.jpg" class="d-block w-100 carasol-img carasol_imag" alt="..."
                             style="width: 100%;" />
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="img/carasol 2.jpg" class="d-block w-100 carasol-img carasol_imag" alt="..."
                             style="width: 100%;" />
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="img/carasol 12.jpg" class="d-block w-100 carasol-img carasol_imag" alt="..."
                             style="width: 100%;" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

    </div>

</div>

<div class="row d-flex m-5 justify-content-evenly">
    <div class="col-6 col-md-3 gy-3">
        <div class="card " style=" background-color:rgb(254, 45, 87);">
            <img src="img/new3.jpg" class="card-img-top mb-3 alt="..." style="border-radius: 15%;">
           
        </div>
    </div>
    <div class="col-6 col-md-3 gy-3">
        <div class="card " style=" background-color:gray;">
            <img src="img/new4.png" class="card-img-top mb-3" alt="..." style="border-radius: 15%;">
            
        </div>
    </div>
    <div class="col-6 col-md-3 gy-3">
        <div class="card " style=" background-color:rgb(5, 198, 5);">
            <img src="img/new2.jpg" class="card-img-top mb-3" alt="..." style="border-radius: 15%;">

        </div>
    </div>
    <div class="col-6 col-md-3 gy-3">
        <div class="card " style=" background-color:rgb(251, 224, 68);">
            <img src="img/new1.jpg" class="card-img-top mb-3" alt="..." style="border-radius: 15%;">
            
        </div>
    </div>

</div>

<!-- =================== Side Bar  Cards ============== -->

<div class="container-fluid">
    <div class="row mt-5 mb-5">

        <div class="col-md-3 col-12 mx-auto  sidebar_card bg-success">
            <div class="d-block">
                <h2 style="font-style: italic; color: white; text-align: center;">
                    <strong> Featured Products</strong>
                </h2>
            </div>


            <div class="card mb-2 col-md-12 col-6 mx-auto " style="border-radius: 0px;">
                <img src="img/feature 2.jpg" class="img-fluid card-img-top feature_images" alt="...">
                <div class="card-body fw-bold"">
                    Tri Cycle
                    <h5 class="card-title">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-star-fill" style="color: gold;" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg style="color: gold;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg style="color: gold;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-star-half" viewBox="0 0 16 16">
                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                        </svg>
                    </h5>
                </div>
            </div>



            <div class="card mb-2 col-md-12 col-6 mx-auto sidebar_card" style="border-radius: 0px;">
                <img src="img/feature 1.jpg" class=" img-fluid card-img-top feature_images" alt="...">
                <div class="card-body fw-bold"">
                    Wagon Car
                    <h5 class="card-title">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-star-fill" style="color: gold;" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg style="color: gold;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg style="color: gold;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-star-half" viewBox="0 0 16 16">
                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                        </svg>
                    </h5>


                </div>
            </div>





            <div class="card mb-2 col-md-12 col-6 mx-auto sidebar_card" style="border-radius: 0px;">
                <img src="img/feature 3.jpg" class=" img-fluid card-img-top feature_images" alt="...">
                <div class="card-body fw-bold">
                    Truck Lifter
                    <h5 class="card-title">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-star-fill" style="color: gold;" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg style="color: gold;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg style="color: gold;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-star-half" viewBox="0 0 16 16">
                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                        </svg>
                    </h5>


                </div>
            </div>
           




            <div class="card mb-3 col-md-12 col-6 mx-auto sidebar_card" style="border-radius: 0px;">
                <img src="img/feature 4.jpg" class=" img-fluid card-img-top feature_images" alt="...">
                <div class="card-body fw-bold"">
                    Toys Combo
                    <h5 class="card-title">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-star-fill" style="color: gold;" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg style="color: gold;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-star-half" viewBox="0 0 16 16">
                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                        </svg>
                    </h5>


                </div>
            </div>

        </div>
        <partial name="LatestProductspartial" />
        @*<div class="col-md-9 mt-3">
            <h1>Latest Arrival Toys</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/bear 2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>


                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/car 1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/boat 2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/helicopter 1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/piano 1.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/bear 3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/doll.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/service-2.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/aeroplane 2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/car 4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>

                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/boat 11.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-3 col-5 mx-auto">
                    <div class="card h-100" style="border-radius: 0px;">
                        <img src="img/car 3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                        </div>
                        <button type="button" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>
            </div>

        </div>*@


    </div>

</div>

<!------------------ Sale -------------- -->
<div class="container">
    <div class="row m-5 mx-auto">

        <div class="col-md-12 sale_images">
            <img src="img/sale 1.jpg" class="w-100" />

        </div>

    </div>

</div>