@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Order Not Completed!!!</h2>
        <p>Please Add Some Products to Cart!!!</p>
        <hr />
        <p class="nav-link active text-center">Go to <a asp-controller="Product" asp-action="Products">Products Page</a></p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>   