@using Kid_PalaceA2.Models.ViewModels;
@model ShoppingCartVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{

<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed successfully</h2>
        <p>You can check all your orders in the Orders section of your profile</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div> }

else
{

<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Order Not Completed!!!</h2>
        <p>Please First Login with UserAccount then Order('_')</p>
        <hr />
        <p class="nav-link active text-center">If you have account, Please <a asp-area="Identity" asp-page="/Account/Login">Login Now</a></p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>      }
